@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans 3", sans-serif;
}

:root {
    --blue-ish: #656575;
    --green: #6cc091;
    --light-grey: rgba(255, 255, 255, 0.55);
    --white: #fff;
    --btn-hover: rgba(108, 192, 145, .1);
    --muted: #9a9a9a;
    ;
}

a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.1rem;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    background-color: transparent;
    padding: 1rem 3rem;
    border: var(--green) solid 3px;
    border-radius: 50px;
    color: var(--green);
    text-transform: uppercase;
    font-size: .9rem;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.logo {
    font-weight: 400;
}

/* Header Section */

i.fa-bars, .fa-x {
    display: none;
}

.sidebar.active {
    left: 0;
}

header {
    background-color: var(--blue-ish);
    color: var(--white);
    padding-bottom: 5rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid var(--light-grey);
    margin-bottom: 5rem;
}

header .main-nav {
    list-style: none;
    display: flex;
    gap: 2rem;
}

header .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
}

header .hero {
    font-size: 3.8rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

header .header-boxes {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

header .box {
    padding: 0 7rem;
}

.box.middle {
    border-left: 1px solid var(--light-grey);
    border-right: 1px solid var(--light-grey);
}

header .box i {
    font-size: 2.8rem;
    color: var(--green);
}

header .box h3 {
    font-size: 1.7rem;
    font-weight: 400;
    margin: 1rem 0;
}

header .box p {
    color: var(--light-grey);
}

/* Showcase Section */
.showcase {
    margin: 5rem 0;
}

.showcase-boxes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

.showcase-boxes .showcase-box {
    max-width: 400px;
}

.showcase .img-box img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.showcase-header {
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--blue-ish);
    margin-bottom: 1.4rem;
}

.showcase-text {
    line-height: 1.6;
    color: var(--muted);
    margin-bottom: 2rem;
}

/* Contact Section */
.contact {
    background-color: var(--green);
    color: var(--white);
    padding-top: 4rem;
}

.contact .contact-header {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.contact .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
}

.form-group-3 {
    grid-column: span 2;
    margin-bottom: 3rem;
}

.contact form input,
.contact form textarea {
    margin-top: 1rem;
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid var(--light-grey);
    border-radius: 7px;
}

.contact form textarea {
    height: 100%;
}

.contact form button.btn {
    border: var(--light-grey) solid 1px;
    color: var(--light-grey);
    display: block;
    width: fit-content;
    margin: 3rem auto;
}

.contact p {
    text-align: center;
    padding-bottom: 1rem;
}

.contact p small span {
    color: var(--blue-ish);
    letter-spacing: .3rem;
    font-size: .7rem;
}

::placeholder {
    color: var(--light-grey);
}

/* Media Queries */
@media (max-width: 990px) {
    header .box {
        padding: 0 3rem;
    }

    .showcase-boxes {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
}

@media (max-width: 720px) {
    header .box {
        padding: 0 1rem;
    }
}

@media (max-width: 572px) {
    i.fa-bars, .fa-x {
        display: block;
    }

    header .header-boxes {
        flex-direction: column;
        gap: 3rem;
    }

    header .header-content {
        height: fit-content;
    }

    header .main-nav {
        flex-direction: column;
        height: 100dvh;
        position: absolute;
        width: 300px;
        background-color: var(--green);
        top: 0;
        left: -300px;
        padding: 2rem;
        transition: .5s;
    }

    nav {
        flex-direction: row-reverse;
    }
}