@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans 3", sans-serif;
}

:root {
    --blue-ish: #656575;
    --green: #6cc091;
    --light-grey: rgba(255, 255, 255, 0.55);
}